@media all and (min-width: 768px) {
  .loginHeader {
    display: flex;
    height: 41px;
    margin-bottom: 27px;
    justify-content: center;
    align-items: end;
    .header__left {
      position: relative;
      display: flex;
      align-items: start;
      gap: 0px;
      .header__mainLogo {
        position: absolute;
        width: 19.36px;
        height: 19.36px;
        background-image: url("../../../assets/icon/logo/logo-title.svg");
        background-repeat: no-repeat;
      }
      .header__title {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 8px;
        span {
          font-weight: 700;
        }
        .header__mainTitle {
          font-size: 2.2rem;
        }
        .header__subTitle {
          font-size: 1.2rem;
          color: var(--green200);
        }
      }
    }
    .header__subLogo {
      display: none;
    }
  }
}

// Mobile
@media all and (max-width: 767px) {
  .loginHeader {
    display: flex;
    height: 41px;
    margin-bottom: 27px;
    justify-content: center;
    align-items: end;
    .header__left {
      position: relative;
      display: flex;
      align-items: start;
      gap: 0px;
      .header__mainLogo {
        position: absolute;
        width: 19.36px;
        height: 19.36px;
        background-image: url("../../../assets/icon/logo/logo-title.svg");
        background-repeat: no-repeat;
      }
      .header__title {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 8px;
        span {
          font-weight: 700;
        }
        .header__mainTitle {
          font-size: 2.2rem;
        }
        .header__subTitle {
          font-size: 1.2rem;
          color: var(--green200);
        }
      }
    }
    .header__subLogo {
      display: none;
    }
  }
}
