.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.loadingSpinner {
  margin-bottom: 10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top-color: var(--green200); // 스피너의 색상

  animation: spin 1s ease-in-out infinite; // 애니메이션 지정
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 1920px) {
  .loading{
    font-size: 16px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1919px) {
  .loading{
    font-size: 14px;
  }
}

@media all and (max-width: 1023px) {
  .loading{
    font-size: 12px;
  }
}

