.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--green200);
  grid-column: 2;
  grid-row: 1/3;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

@media all and (max-width: 767px) {
  .empty {
    display: none;
  }
}