# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public
src/assets/icon/logo
src/common/api
src/common/constants/Env.const.ts
src/dummy
src/utils
src/routes.ts
.env
package-lock.json
sgautomation.client.esproj
nuget.config
**/tests