/* Full HD */
@media all and (min-width: 1920px) {
  .search__table {
    height: 100%;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: auto 15px 30px 1fr;
  }
}

/* Tablet Landscape */
@media all and (min-width: 1024px) and (max-width: 1919px) {
  .search__table {
    height: 100%;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: auto 15px 30px 1fr auto;
  }
}

/* Tablet Portrait */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .search__table {
    height: 100%;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: auto 15px 30px 1fr;
  }
}

/* Mobile*/
@media all and (max-width: 767px) {
  .search__table {
    height: 100%;
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: auto 15px 40px 1fr;
    background-color: var(--white);
    z-index: 100;
    position: relative;
    top: 15px;
    width: calc(100vw - 30px);
    padding-bottom: 5px;
  }
}
