/* Full HD */
@media all and (min-width:1920px) {
  .panelBody__color {
    display: grid;
    grid-template-rows: 14px 1fr;
    gap: 10px;
    padding: 10px 40px 5px 40px;
    font-weight: 500;
    .panelBody__colorTitle {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }
}

/* Tablet Landscape */
@media all and (min-width:1024px) and (max-width:1919px) {
  .panelBody__color {
    display: grid;
    grid-template-rows: 14px 1fr;
    gap: 10px;
    padding: 10px 20px 5px 20px;
    font-weight: 500;
    height: 100px;
    .panelBody__colorTitle {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }
}

/* Tablet Portrait */
@media all and (min-width:768px) and (max-width:1023px) {
  .panelBody__color {
    display: grid;
    grid-template-rows: 14px 1fr;
    gap: 10px;
    padding: 10px 20px 5px 20px;
    font-weight: 500;
    height: 100px;
    .panelBody__colorTitle {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }
}

/* Mobile*/
@media all and (max-width:767px) {
  .panelBody__color {
    display: grid;
    grid-template-rows: 14px 1fr;
    gap: 10px;
    padding: 10px 20px 5px 20px;
    font-weight: 500;
    height: 100px;
    .panelBody__colorTitle {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }
}