/* Full HD */
@media all and (min-width: 1920px) {
  .header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 55px;
    .header__left {
      display: flex;
      align-items: center;
      gap: 13.5px;
      .header__mainLogo {
        width: 30px;
        height: 30px;
        background-image: url("../../../assets/icon/logo/logo-title.svg");
        background-repeat: no-repeat;
      }
      .header__title {
        display: flex;
        align-items: end;
        gap: 8px;
        span {
          font-weight: 700;
        }
        .header__mainTitle {
          font-size: 2.4rem;
        }
        .header__subTitle {
          font-size: 1.4rem;
          color: var(--green200);
        }
      }
    }
  }
}

@media all and (min-width: 1024px) and (max-width: 1919px) {
  .header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 985px;
    padding: 0px;
    .header__left {
      display: flex;
      align-items: center;
      gap: 13.5px;
      .header__mainLogo {
        width: 30px;
        height: 30px;
        background-image: url("../../../assets/icon/logo/logo-title.svg");
        background-repeat: no-repeat;
      }
      .header__title {
        display: flex;
        align-items: end;
        gap: 8px;
        span {
          font-weight: 700;
        }
        .header__mainTitle {
          font-size: 2.4rem;
        }
        .header__subTitle {
          font-size: 1.4rem;
          color: var(--green200);
        }
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 728px;
    padding: 0px;
    .header__left {
      display: flex;
      align-items: center;
      gap: 13.5px;
      .header__mainLogo {
        width: 30px;
        height: 30px;
        background-image: url("../../../assets/icon/logo/logo-title.svg");
        background-repeat: no-repeat;
      }
      .header__title {
        display: flex;
        align-items: end;
        gap: 8px;
        span {
          font-weight: 700;
        }
        .header__mainTitle {
          font-size: 2.4rem;
        }
        .header__subTitle {
          font-size: 1.4rem;
          color: var(--green200);
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .header {
    //height: 75px;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 0px 0px 0px 20px;
    position: absolute;
    height: 57.91px;
    width: calc(100vw - 20px);
    z-index: 200;
    background-color: var(--white);
    .header__left {
      position: relative;
      display: flex;
      align-items: start;
      gap: 0px;
      .header__mainLogo {
        position: absolute;
        width: 19.36px;
        height: 19.36px;
        background-image: url("../../../assets/icon/logo/logo-title.svg");
        background-repeat: no-repeat;
      }
      .header__title {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 8px;
        span {
          font-weight: 700;
        }
        .header__mainTitle {
          font-size: 2.2rem;
        }
        .header__subTitle {
          font-size: 1.2rem;
          color: var(--green200);
        }
      }
    }
  }
}
