:root {
    --green100: #e8f5ed;
    --green200: #149f48;
    --green300: #4c7c5a;
    --green400: #4d6856;

    --red100: #fcd6d6;
    --red200: #f12728;

    --lightGray : #eff0f2;

    --lightFontColor: #b3b3b3;
    --DarkFontColor: #4d4d4d;

    --backgroundColor : #f5f6f7;
    --tableColor : #f5f6f7;

    --selectColor : #e6e6e6;
    --selectColorHover : #c6c6c6;

    --100inputErrorColor : #fff6f6;
    --200inputErrorColor : #f44336;

    --white: #ffffff;

    --shadow: 0 0 3px rgb(0, 0, 0, 0.25);
}